/*โทรศัพท์*/
@media only screen and (max-width: 600px) {
    .nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .menu {
        display: none;
    }
    .search-form {
        margin-top: 10px;
    }
    .container-product-recommend {
        padding: 10px;
    }
    .text-head {
        margin-top: 20px;
        font-size: 18px;
    }
    .footer-menu {
        text-align: center;
    }
    .container{
        flex-direction: column;
        padding-top: 80px;
        margin-top: 400px;
        padding-top: 80px;
    }
}