@font-face {
    font-family: 'TH Sarabun New';
    src: url('font/Prompt-Thin.ttf') format('truetype');
}

body {
    font-family: 'TH Sarabun New', sans-serif;
}

.header {
    display: flex;
    height: 80px;
    font-family: Arial;
    align-items: center;
}

.container-1 {
    display: flex;
    align-items: center;
    width: 100%; 
    max-width: 960px; 
    margin: 0 auto; 
    padding: 10px; 
}

.header-wrapper {
    flex: 1; 
}

.social-icon {
    padding-right: 10px; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

.menu li, .account-menu li {
    display: inline-block; 
    margin-right: 10px; 
}

nav {
    display: flex;
    background-color: #ffffff;
    outline: 1px solid rgb(109, 109, 109);
    height: 80px;
    align-items: center;
    justify-content: space-between;

    & .menu,  .account-menu{
        display: flex;

        & li {
            margin: 0 1rem;
        }
    }

}

.search-form {
    border-radius: 50px;
    overflow: hidden; 
}

.search-form input[type="text"],
.search-form button {
    border: none; 
    outline: none; 
    padding: 3px; 
}

.search-form button {
    background-color: #ffa600; 
    color: rgb(255, 255, 255); 
    width: 50px; 
    cursor: pointer; 
}

.about-aredian-boost {
    max-width: 960px; 
    margin: 0 auto; 
    padding: 20px; 
}

.black-frame1, .black-frame2 {
    border: 2px solid #000;
    color: #000;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    margin-right: 10px;
  }

.black-frame1:hover, .black-frame2:hover {
    background-color: #000;
    color: #fff;
  }

.product-recommend-pic li img {
    width: 250px; 
    height: 250px; 
    object-fit: cover; 
}

.container-product-recommend{
    width: 100%; 
    max-width: 960px; 
    margin: auto; 
    padding: 10px; 
    font-weight: bold;
}

.product-recommend-pic li{
    display: inline-block;
    margin-right: 10px;
}

/* FOOTER */
.footer {
    background-color: #000;
    color: #fff;
    padding: 15px 0;
}

.footer-menu h3 {
    font-size: 30px;
    margin-bottom: 20px;
}

.social-icons li {
    display: inline-block;
    margin-right: 10px;
}

.footer-container{
    font-family: Arial;
    width: 100%; 
    max-width: 960px; 
    margin: auto; 
    padding: 10px; 
}

/*responsive*/

